In [32]:
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

%matplotlib inline

In [33]:
load_dotenv()

True

In [34]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [35]:
timeframe = "1D"
# Set start and end datetimes between now and 3 years ago.
start_date = pd.Timestamp("2019-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2019-12-31", tz="America/New_York").isoformat()

# Set the ticker information
tickers = ["YUM", "GRUB", "MCD"]

# Get 3 year's worth of historical price data for Microsoft and Coca-Cola
pre_covid_ticker = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date,
    limit=1000,
).df

# Display sample data
df_ticker.head()

                            GRUB                                     MCD  \
                            open    high    low   close   volume    open
2019-01-02 00:00:00-05:00  74.72  76.740  74.15  75.470  1605818  175.41
2019-01-03 00:00:00-05:00  73.90  74.860  70.99  71.335  1864315  175.45
2019-01-04 00:00:00-05:00  73.31  77.450  72.74  75.930  2557614  176.03
2019-01-07 00:00:00-05:00  76.55  80.575  75.64  79.780  1856083  178.14
2019-01-08 00:00:00-05:00  81.00  81.950  78.57  81.090  1183558  181.96

                                                                YUM         \
                             high       low   close   volume   open   high
2019-01-02 00:00:00-05:00  176.30  174.1680  176.07  1996182  91.09  91.49
2019-01-03 00:00:00-05:00  176.45  174.4100  175.01  2846165  91.00  91.00
2019-01-04 00:00:00-05:00  179.20  175.6901  178.30  2376882  90.19  92.34
2019-01-07 00:00:00-05:00  181.88  178.1400  180.27  2176986  91.40  92.22
2019-01-08 00:00:00-05:00  182.29  179.9100  180.67  2194645  91.67  91.94


                              low  close     volume
2019-01-02 00:00:00-05:00  90.350  91.41  1260394.0
2019-01-03 00:00:00-05:00  88.785  89.09  1344668.0
2019-01-04 00:00:00-05:00  90.040  91.49  1320748.0
2019-01-07 00:00:00-05:00  91.120  91.38  1897257.0
2019-01-08 00:00:00-05:00  89.960  91.13  2139647.0

In [39]:
pre_covid_df = pd.DataFrame()
pre_covid_df["YUM"] = pre_covid_ticker["YUM"]["close"]
pre_covid_df["GRUB"] = pre_covid_ticker["GRUB"]["close"]
pre_covid_df["MCD"] = pre_covid_ticker["MCD"]["close"]
pre_covid_df.index = pre_covid_df.index.date
pre_covid_returns = pre_covid_df.pct_change().dropna()
pre_covid_returns.head(10)

                 YUM      GRUB       MCD
2019-01-03 -0.025380 -0.054790 -0.006020
2019-01-04  0.026939  0.064414  0.018799
2019-01-07 -0.001202  0.050705  0.011049
2019-01-08 -0.002736  0.016420  0.002219
2019-01-09 -0.000329 -0.010359 -0.002934
2019-01-10  0.006037  0.008100  0.007217
2019-01-11 -0.008947 -0.027874  0.004685
2019-01-14 -0.009138 -0.009346 -0.005595
2019-01-15  0.004000 -0.018483  0.000441
2019-01-16 -0.006474  0.019877 -0.011139

In [40]:
pre_covid_returns.describe()

              YUM        GRUB         MCD
count  251.000000  251.000000  251.000000
mean     0.000438   -0.000776    0.000504
std      0.010015    0.040313    0.009457
min     -0.058320   -0.432951   -0.050226
25%     -0.004169   -0.015515   -0.004743
50%      0.000324    0.002275    0.001392
75%      0.005892    0.019965    0.006655
max      0.045450    0.083681    0.022430

In [41]:
pre_covid_returns.head()

                 YUM      GRUB       MCD
2019-01-03 -0.025380 -0.054790 -0.006020
2019-01-04  0.026939  0.064414  0.018799
2019-01-07 -0.001202  0.050705  0.011049
2019-01-08 -0.002736  0.016420  0.002219
2019-01-09 -0.000329 -0.010359 -0.002934

In [42]:
pre_covid_annual_returns = pre_covid_returns.pct_change(251).dropna()