In [52]:
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
import numpy as np
import datetime as dt
from pathlib import Path
import os
import csv
%matplotlib inline

In [31]:
load_dotenv()

True

In [32]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [33]:
timeframe = "1D"
# Set start and end datetimes between now and 3 years ago.
start_date = pd.Timestamp("2018-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2018-12-31", tz="America/New_York").isoformat()

# Set the ticker information
tickers = ["YUM", "GRUB", "MCD"]

# Get 3 year's worth of historical price data for Microsoft and Coca-Cola
pre_covid_ticker = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date,
    limit=1000,
).df

# Display sample data
pre_covid_ticker.head()

                            GRUB                                     MCD  \
                            open   high      low  close   volume    open
2018-01-02 00:00:00-05:00  71.54  72.01  70.2600  71.27  1255728  173.73
2018-01-03 00:00:00-05:00  71.45  71.78  70.9100  71.31   714615  173.23
2018-01-04 00:00:00-05:00  71.93  72.60  70.9900  71.87   843995  173.24
2018-01-05 00:00:00-05:00  72.43  73.02  71.3796  72.96  1126306  174.00
2018-01-08 00:00:00-05:00  71.50  72.10  70.8200  71.33   959352  173.74

                                                                YUM         \
                               high     low   close   volume   open   high
2018-01-02 00:00:00-05:00  174.4799  172.66  173.22  2344135  82.15  82.46
2018-01-03 00:00:00-05:00  173.6400  172.00  172.49  2706678  81.23  81.82
2018-01-04 00:00:00-05:00  174.1300  172.73  173.75  1860820  81.75  82.59
2018-01-05 00:00:00-05:00  175.0000  173.40  174.04  2031490  82.59  83.01
2018-01-08 00:00:00-05:00  174.2100  172.93  173.92  1401313  82.72  83.06


                             low  close   volume
2018-01-02 00:00:00-05:00  81.48  81.61  1089380
2018-01-03 00:00:00-05:00  81.17  81.53  1923085
2018-01-04 00:00:00-05:00  81.53  82.35  1585861
2018-01-05 00:00:00-05:00  82.36  82.84  1542610
2018-01-08 00:00:00-05:00  82.12  82.96  1309538

In [34]:
pre_covid_df = pd.DataFrame()
pre_covid_df["YUM"] = pre_covid_ticker["YUM"]["close"]
pre_covid_df["GRUB"] = pre_covid_ticker["GRUB"]["close"]
pre_covid_df["MCD"] = pre_covid_ticker["MCD"]["close"]
pre_covid_df.index = pre_covid_df.index.date
pre_covid_returns = pre_covid_df.pct_change().dropna()
pre_covid_returns.head(10)

                 YUM      GRUB       MCD
2018-01-03 -0.000980  0.000561 -0.004214
2018-01-04  0.010058  0.007853  0.007305
2018-01-05  0.005950  0.015166  0.001669
2018-01-08  0.001449 -0.022341 -0.000689
2018-01-09 -0.002290 -0.030282 -0.002242
2018-01-10 -0.002658 -0.038311 -0.000058
2018-01-11 -0.000848  0.025556 -0.000864
2018-01-12  0.014064  0.035327  0.001038
2018-01-16 -0.008608 -0.010760  0.000691
2018-01-17  0.001930  0.013310  0.007428

In [35]:
pre_covid_returns.describe()

              YUM        GRUB         MCD
count  250.000000  250.000000  250.000000
mean     0.000537    0.000868    0.000162
std      0.012369    0.035962    0.012963
min     -0.075378   -0.119226   -0.047848
25%     -0.004750   -0.014725   -0.005455
50%      0.001243    0.000828    0.000002
75%      0.007164    0.016437    0.006691
max      0.045802    0.275082    0.062995

In [36]:
pre_covid_returns.head()

                 YUM      GRUB       MCD
2018-01-03 -0.000980  0.000561 -0.004214
2018-01-04  0.010058  0.007853  0.007305
2018-01-05  0.005950  0.015166  0.001669
2018-01-08  0.001449 -0.022341 -0.000689
2018-01-09 -0.002290 -0.030282 -0.002242

In [37]:
pre_covid_annual_returns = pre_covid_returns.pct_change(251).dropna()

In [39]:
pre_covid_returns.std()

YUM     0.012369
GRUB    0.035962
MCD     0.012963
dtype: float64

In [40]:
pre_covid_std = pd.DataFrame(pre_covid_returns.std()).rename(columns = {0: "2018 Std"})
pre_covid_std

      2018 Std
YUM   0.012369
GRUB  0.035962
MCD   0.012963

In [42]:
timeframe = "1D"
# Set start and end datetimes between now and 3 years ago.
start_date = pd.Timestamp("2019-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2019-12-31", tz="America/New_York").isoformat()

# Set the ticker information
tickers = ["YUM", "GRUB", "MCD"]

# Get 3 year's worth of historical price data for Microsoft and Coca-Cola
covid_ticker = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date,
    limit=1000,
).df

# Display sample data
covid_ticker.head()

                            GRUB                                     MCD  \
                            open    high    low   close   volume    open
2019-01-02 00:00:00-05:00  74.72  76.740  74.15  75.470  1605818  175.41
2019-01-03 00:00:00-05:00  73.90  74.860  70.99  71.335  1864315  175.45
2019-01-04 00:00:00-05:00  73.31  77.450  72.74  75.930  2557614  176.03
2019-01-07 00:00:00-05:00  76.55  80.575  75.64  79.780  1856083  178.14
2019-01-08 00:00:00-05:00  81.00  81.950  78.57  81.090  1183558  181.96

                                                                YUM         \
                             high       low   close   volume   open   high
2019-01-02 00:00:00-05:00  176.30  174.1680  176.07  1996182  91.09  91.49
2019-01-03 00:00:00-05:00  176.45  174.4100  175.01  2846165  91.00  91.00
2019-01-04 00:00:00-05:00  179.20  175.6901  178.30  2376882  90.19  92.34
2019-01-07 00:00:00-05:00  181.88  178.1400  180.27  2176986  91.40  92.22
2019-01-08 00:00:00-05:00  182.29  179.9100  180.67  2194645  91.67  91.94


                              low  close   volume
2019-01-02 00:00:00-05:00  90.350  91.41  1260394
2019-01-03 00:00:00-05:00  88.785  89.09  1344668
2019-01-04 00:00:00-05:00  90.040  91.49  1320748
2019-01-07 00:00:00-05:00  91.120  91.38  1897257
2019-01-08 00:00:00-05:00  89.960  91.13  2139647

In [43]:
covid_df = pd.DataFrame()
covid_df["YUM"] = covid_ticker["YUM"]["close"]
covid_df["GRUB"] = covid_ticker["GRUB"]["close"]
covid_df["MCD"] = covid_ticker["MCD"]["close"]
covid_df.index = covid_df.index.date
covid_returns = covid_df.pct_change().dropna()
covid_returns.head(10)

                 YUM      GRUB       MCD
2019-01-03 -0.025380 -0.054790 -0.006020
2019-01-04  0.026939  0.064414  0.018799
2019-01-07 -0.001202  0.050705  0.011049
2019-01-08 -0.002736  0.016420  0.002219
2019-01-09 -0.000329 -0.010359 -0.002934
2019-01-10  0.006037  0.008100  0.007217
2019-01-11 -0.008947 -0.027874  0.004685
2019-01-14 -0.009138 -0.009346 -0.005595
2019-01-15  0.004000 -0.018483  0.000441
2019-01-16 -0.006474  0.019877 -0.011139

In [45]:
covid_std = pd.DataFrame(covid_returns.std()).rename(columns = {0: "2019 Std"})
covid_std

      2019 Std
YUM   0.009803
GRUB  0.040313
MCD   0.009457

In [46]:
timeframe = "1D"
# Set start and end datetimes between now and 3 years ago.
start_date = pd.Timestamp("2020-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-12-31", tz="America/New_York").isoformat()

# Set the ticker information
tickers = ["YUM", "GRUB", "MCD"]

# Get 3 year's worth of historical price data for Microsoft and Coca-Cola
post_covid_ticker = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date,
    limit=1000,
).df

# Display sample data
post_covid_ticker.head()

                            GRUB                                     MCD  \
                            open    high    low  close    volume    open
2020-01-02 00:00:00-05:00  49.31  49.740  46.69  47.24   2044690  198.00
2020-01-03 00:00:00-05:00  47.04  47.675  46.67  47.17   2278511  199.39
2020-01-06 00:00:00-05:00  47.17  49.395  46.16  49.19   2370040  199.60
2020-01-07 00:00:00-05:00  48.91  49.250  47.60  48.62   1800336  201.87
2020-01-08 00:00:00-05:00  48.69  57.800  48.42  54.77  15437353  202.62

                                                                 YUM          \
                               high     low   close   volume    open    high
2020-01-02 00:00:00-05:00  200.8000  197.81  200.80  2886391  100.90  102.19
2020-01-03 00:00:00-05:00  200.5500  198.85  200.02  2031901  101.42  102.01
2020-01-06 00:00:00-05:00  202.7673  199.35  202.33  3558314  101.43  101.80
2020-01-07 00:00:00-05:00  202.6800  200.51  202.63  3147952  101.75  102.24
2020-01-08 00:00:00-05:00  206.6900  202.20  205.86  4370789  100.47  102.98


                              low   close   volume
2020-01-02 00:00:00-05:00  100.81  102.18   989457
2020-01-03 00:00:00-05:00  100.36  101.84   819628
2020-01-06 00:00:00-05:00  101.06  101.79  1062267
2020-01-07 00:00:00-05:00  101.54  101.97  1011133
2020-01-08 00:00:00-05:00  100.34  102.14  1133369

In [47]:
post_covid_df = pd.DataFrame()
post_covid_df["YUM"] = post_covid_ticker["YUM"]["close"]
post_covid_df["GRUB"] = post_covid_ticker["GRUB"]["close"]
post_covid_df["MCD"] = post_covid_ticker["MCD"]["close"]
post_covid_df.index = post_covid_df.index.date
post_covid_returns = post_covid_df.pct_change().dropna()
post_covid_returns.head(10)

                 YUM      GRUB       MCD
2020-01-03 -0.003327 -0.001482 -0.003884
2020-01-06 -0.000491  0.042824  0.011549
2020-01-07  0.001768 -0.011588  0.001483
2020-01-08  0.001667  0.126491  0.015940
2020-01-09  0.008028  0.018076  0.011950
2020-01-10 -0.012238 -0.060976 -0.004944
2020-01-13 -0.013373  0.025401 -0.003618
2020-01-14  0.003687  0.018625  0.003680
2020-01-15  0.005561  0.009508  0.011384
2020-01-16  0.008986  0.019018  0.005962

In [49]:
post_covid_std = pd.DataFrame(post_covid_returns.std()).rename(columns = {0: "2020 Std"})
post_covid_std

      2020 Std
YUM   0.027860
GRUB  0.043521
MCD   0.025401

In [59]:
joined_rows = pd.concat([pre_covid_std, covid_std, post_covid_std], axis = "columns", join="inner")
joined_rows

      2018 Std  2019 Std  2020 Std
YUM   0.012369  0.009803  0.027860
GRUB  0.035962  0.040313  0.043521
MCD   0.012963  0.009457  0.025401

In [51]:
display(joined_rows.iloc[0])

2018 Std    0.012369
2019 Std    0.009803
2020 Std    0.027860
Name: YUM, dtype: float64

In [54]:
csv_path = Path("../Yolanda_Baker_Notebook/ticker_revenue.csv")
revenue_data = pd.read_csv(csv_path)#, index_col="Date", parse_dates=True, infer_datetime_format=True)
revenue_data.tail(9)

   Unnamed: 0 Unnamed: 1 Unnamed: 2
19        YUM       2018       5688
20        YUM       2019       5597
21        YUM       2020       5652
22       GRUB       2018     1007.2
23       GRUB       2019     1312.1
24       GRUB       2020     1819.9
25        MCD       2018    21257.9
26        MCD       2019    21364.4
27        MCD       2020    19207.8

In [61]:
revenue_2018 = {"Revenue_2018": [5688,1007.2,21257.9]}
revenue_2019 = {"Revenue_2019": [5597,1312.1,21364.4]}
revenue_2020 = {"Revenue_2020": [5652, 1819.9, 19207.8]}
tickers = ["YUM", "GRUB", "MCD"]

In [62]:
Revenue_2018 = pd.DataFrame(revenue_2018, index = tickers)
Revenue_2018

      Revenue_2018
YUM         5688.0
GRUB        1007.2
MCD        21257.9

In [64]:
Revenue_2019 = pd.DataFrame(revenue_2019, index = tickers)
Revenue_2019

      Revenue_2019
YUM         5597.0
GRUB        1312.1
MCD        21364.4

In [63]:
Revenue_2020 = pd.DataFrame(revenue_2020, index = tickers)
Revenue_2020

      Revenue_2020
YUM         5652.0
GRUB        1819.9
MCD        19207.8

In [66]:
joined_revenue = pd.concat([Revenue_2018, Revenue_2019, Revenue_2020], axis= "columns", join="inner")
joined_revenue

      Revenue_2018  Revenue_2019  Revenue_2020
YUM         5688.0        5597.0        5652.0
GRUB        1007.2        1312.1        1819.9
MCD        21257.9       21364.4       19207.8

In [55]:
eps_2018 = {"EPS_2018": [4.69, .85, 7.54]}
eps_2019 = {"EPS_2019": [4.14, -.20, 7.88]}
eps_2020 = {"EPS_2020": [2.94, -1.69, 6.31]}
tickers = ["YUM", "GRUB", "MCD"]

In [56]:
EPS_2018 = pd.DataFrame(eps_2018, index = tickers)
EPS_2018

      EPS_2018
YUM       4.69
GRUB      0.85
MCD       7.54

In [57]:
EPS_2019 = pd.DataFrame(eps_2019, index = tickers)
EPS_2019

      EPS_2019
YUM       4.14
GRUB     -0.20
MCD       7.88

In [58]:
EPS_2020 = pd.DataFrame(eps_2020, index = tickers)
EPS_2020

      EPS_2020
YUM       2.94
GRUB     -1.69
MCD       6.31

In [68]:
joined_eps = pd.concat([EPS_2018, EPS_2019, EPS_2020], axis = "columns", join="inner")
joined_eps

      EPS_2018  EPS_2019  EPS_2020
YUM       4.69      4.14      2.94
GRUB      0.85     -0.20     -1.69
MCD       7.54      7.88      6.31

In [69]:
combined_rows = pd.concat([joined_rows, joined_eps, joined_revenue], axis="columns", join="inner")

In [70]:
combined_rows

,2018 Std,2019 Std,2020 Std,EPS_2018,EPS_2019,EPS_2020,Revenue_2018,Revenue_2019,Revenue_2020
YUM,0.012369,0.009803,0.027860,4.69,4.14,2.94,5688.0,5597.0,5652.0
GRUB,0.035962,0.040313,0.043521,0.85,-0.20,-1.69,1007.2,1312.1,1819.9
MCD,0.012963,0.009457,0.025401,7.54,7.88,6.31,21257.9,21364.4,19207.8

2018 Std    0.012369
2019 Std    0.009803
2020 Std    0.027860
EPS_2018    4.690000
EPS_2019    4.140000
EPS_2020    2.940000
Name: YUM, dtype: float64