In [1]:
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
import numpy as np
import datetime as dt
from pathlib import Path
import os
import csv
%matplotlib inline

In [2]:
load_dotenv()

True

In [14]:
eps_2018 = {"EPS_2018": [4.69, .85, 7.54]}
eps_2019 = {"EPS_2019": [4.14, -.20, 7.88]}
eps_2020 = {"EPS_2020": [2.94, -1.69, 6.31]}
tickers = ["YUM", "GRUB", "MCD"]

In [15]:
EPS_2018 = pd.DataFrame(eps_2018, index = tickers)
EPS_2018

      EPS_2018
YUM       4.69
GRUB      0.85
MCD       7.54

In [16]:
EPS_2019 = pd.DataFrame(eps_2019, index = tickers)
EPS_2019

      EPS_2019
YUM       4.14
GRUB     -0.20
MCD       7.88

In [17]:
EPS_2020 = pd.DataFrame(eps_2020, index = tickers)
EPS_2020

      EPS_2020
YUM       2.94
GRUB     -1.69
MCD       6.31