In [2]:
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

%matplotlib inline

In [3]:
load_dotenv()

True

In [4]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [5]:
timeframe = "1D"
# Set start and end datetimes between now and 3 years ago.
start_date = pd.Timestamp("2019-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2019-12-31", tz="America/New_York").isoformat()

# Set the ticker information
tickers = ["YUM", "GRUB", "MCD"]

# Get 3 year's worth of historical price data for Microsoft and Coca-Cola
pre_covid_ticker = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date,
    limit=1000,
).df

# Display sample data
pre_covid_ticker.head()

                            GRUB                                     MCD  \
                            open    high    low   close   volume    open
2019-01-02 00:00:00-05:00  74.72  76.740  74.15  75.470  1605818  175.41
2019-01-03 00:00:00-05:00  73.90  74.860  70.99  71.335  1864315  175.45
2019-01-04 00:00:00-05:00  73.31  77.450  72.74  75.930  2557614  176.03
2019-01-07 00:00:00-05:00  76.55  80.575  75.64  79.780  1856083  178.14
2019-01-08 00:00:00-05:00  81.00  81.950  78.57  81.090  1183558  181.96

                                                                YUM         \
                             high       low   close   volume   open   high
2019-01-02 00:00:00-05:00  176.30  174.1680  176.07  1996182  91.09  91.49
2019-01-03 00:00:00-05:00  176.45  174.4100  175.01  2846165  91.00  91.00
2019-01-04 00:00:00-05:00  179.20  175.6901  178.30  2376882  90.19  92.34
2019-01-07 00:00:00-05:00  181.88  178.1400  180.27  2176986  91.40  92.22
2019-01-08 00:00:00-05:00  182.29  179.9100  180.67  2194645  91.67  91.94


                              low  close     volume
2019-01-02 00:00:00-05:00  90.350  91.41  1260394.0
2019-01-03 00:00:00-05:00  88.785  89.09  1344668.0
2019-01-04 00:00:00-05:00  90.040  91.49  1320748.0
2019-01-07 00:00:00-05:00  91.120  91.38  1897257.0
2019-01-08 00:00:00-05:00  89.960  91.13  2139647.0

In [6]:
pre_covid_df = pd.DataFrame()
pre_covid_df["YUM"] = pre_covid_ticker["YUM"]["close"]
pre_covid_df["GRUB"] = pre_covid_ticker["GRUB"]["close"]
pre_covid_df["MCD"] = pre_covid_ticker["MCD"]["close"]
pre_covid_df.index = pre_covid_df.index.date
pre_covid_returns = pre_covid_df.pct_change().dropna()
pre_covid_returns.head(10)

                 YUM      GRUB       MCD
2019-01-03 -0.025380 -0.054790 -0.006020
2019-01-04  0.026939  0.064414  0.018799
2019-01-07 -0.001202  0.050705  0.011049
2019-01-08 -0.002736  0.016420  0.002219
2019-01-09 -0.000329 -0.010359 -0.002934
2019-01-10  0.006037  0.008100  0.007217
2019-01-11 -0.008947 -0.027874  0.004685
2019-01-14 -0.009138 -0.009346 -0.005595
2019-01-15  0.004000 -0.018483  0.000441
2019-01-16 -0.006474  0.019877 -0.011139

In [7]:
pre_covid_returns.describe()

              YUM        GRUB         MCD
count  251.000000  251.000000  251.000000
mean     0.000438   -0.000776    0.000504
std      0.010015    0.040313    0.009457
min     -0.058320   -0.432951   -0.050226
25%     -0.004169   -0.015515   -0.004743
50%      0.000324    0.002275    0.001392
75%      0.005892    0.019965    0.006655
max      0.045450    0.083681    0.022430

In [8]:
pre_covid_returns.head()

                 YUM      GRUB       MCD
2019-01-03 -0.025380 -0.054790 -0.006020
2019-01-04  0.026939  0.064414  0.018799
2019-01-07 -0.001202  0.050705  0.011049
2019-01-08 -0.002736  0.016420  0.002219
2019-01-09 -0.000329 -0.010359 -0.002934

In [15]:
pre_covid_annual_returns = pre_covid_returns.pct_change(251).dropna()

In [12]:
pre_covid_returns.std()

YUM     0.010015
GRUB    0.040313
MCD     0.009457
dtype: float64

In [20]:
pre_covid_std = pd.DataFrame(pre_covid_returns.std()).rename(columns = {0: "Pre-Covid Std"})
pre_covid_std

      Pre-Covid Std
YUM        0.010015
GRUB       0.040313
MCD        0.009457

In [13]:
timeframe = "1D"
# Set start and end datetimes between now and 3 years ago.
start_date = pd.Timestamp("2020-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-12-31", tz="America/New_York").isoformat()

# Set the ticker information
tickers = ["YUM", "GRUB", "MCD"]

# Get 3 year's worth of historical price data for Microsoft and Coca-Cola
covid_ticker = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date,
    limit=1000,
).df

# Display sample data
covid_ticker.head()

                            GRUB                                     MCD  \
                            open    high    low  close    volume    open
2020-01-02 00:00:00-05:00  49.31  49.740  46.69  47.24   2044690  198.00
2020-01-03 00:00:00-05:00  47.04  47.675  46.67  47.17   2278511  199.39
2020-01-06 00:00:00-05:00  47.17  49.395  46.16  49.19   2370040  199.60
2020-01-07 00:00:00-05:00  48.91  49.250  47.60  48.62   1800336  201.87
2020-01-08 00:00:00-05:00  48.69  57.800  48.42  54.77  15437353  202.62

                                                                 YUM          \
                               high     low   close   volume    open    high
2020-01-02 00:00:00-05:00  200.8000  197.81  200.80  2886391  100.90  102.19
2020-01-03 00:00:00-05:00  200.5500  198.85  200.02  2031901  101.42  102.01
2020-01-06 00:00:00-05:00  202.7673  199.35  202.33  3558314  101.43  101.80
2020-01-07 00:00:00-05:00  202.6800  200.51  202.63  3147952  101.75  102.24
2020-01-08 00:00:00-05:00  206.6900  202.20  205.86  4370789  100.47  102.98


                              low   close   volume
2020-01-02 00:00:00-05:00  100.81  102.18   989457
2020-01-03 00:00:00-05:00  100.36  101.84   819628
2020-01-06 00:00:00-05:00  101.06  101.79  1062267
2020-01-07 00:00:00-05:00  101.54  101.97  1011133
2020-01-08 00:00:00-05:00  100.34  102.14  1133369

In [14]:
covid_df = pd.DataFrame()
covid_df["YUM"] = covid_ticker["YUM"]["close"]
covid_df["GRUB"] = covid_ticker["GRUB"]["close"]
covid_df["MCD"] = covid_ticker["MCD"]["close"]
covid_df.index = covid_df.index.date
covid_returns = covid_df.pct_change().dropna()
covid_returns.head(10)

                 YUM      GRUB       MCD
2020-01-03 -0.003327 -0.001482 -0.003884
2020-01-06 -0.000491  0.042824  0.011549
2020-01-07  0.001768 -0.011588  0.001483
2020-01-08  0.001667  0.126491  0.015940
2020-01-09  0.008028  0.018076  0.011950
2020-01-10 -0.012238 -0.060976 -0.004944
2020-01-13 -0.013373  0.025401 -0.003618
2020-01-14  0.003687  0.018625  0.003680
2020-01-15  0.005561  0.009508  0.011384
2020-01-16  0.008986  0.019018  0.005962

In [22]:
covid_std = pd.DataFrame(covid_returns.std()).rename(columns = {0: "Covid Std"})
covid_std

      Covid Std
YUM    0.027860
GRUB   0.043521
MCD    0.025401

In [23]:
timeframe = "1D"
# Set start and end datetimes between now and 3 years ago.
start_date = pd.Timestamp("2021-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-12-31", tz="America/New_York").isoformat()

# Set the ticker information
tickers = ["YUM", "GRUB", "MCD"]

# Get 3 year's worth of historical price data for Microsoft and Coca-Cola
post_covid_ticker = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date,
    limit=1000,
).df

# Display sample data
post_covid_ticker.head()

                            GRUB                                    MCD  \
                            open   high     low  close   volume    open
2021-01-04 00:00:00-05:00  74.66  76.98  74.660  75.91  1047101  214.49
2021-01-05 00:00:00-05:00  76.60  79.81  76.480  79.51  1555557  210.18
2021-01-06 00:00:00-05:00  78.47  79.34  77.270  77.96  1687917  211.30
2021-01-07 00:00:00-05:00  78.36  80.11  77.075  77.43  2413747  213.22
2021-01-08 00:00:00-05:00  80.92  82.73  80.180  82.47  3069574  212.90

                                                                 YUM          \
                               high     low   close   volume    open    high
2021-01-04 00:00:00-05:00  214.7200  208.22  210.33  3187072  109.02  109.02
2021-01-05 00:00:00-05:00  211.9500  209.62  211.54  1927315  105.64  106.35
2021-01-06 00:00:00-05:00  211.7083  209.03  211.06  2533713  105.63  106.70
2021-01-07 00:00:00-05:00  213.2200  210.56  211.98  2546735  106.50  106.99
2021-01-08 00:00:00-05:00  216.1200  212.23  215.87  2063802  105.81  107.45


                                low   close   volume
2021-01-04 00:00:00-05:00  104.8600  105.86  1636363
2021-01-05 00:00:00-05:00  105.2000  105.83   946451
2021-01-06 00:00:00-05:00  105.3900  106.41  1093400
2021-01-07 00:00:00-05:00  105.2800  105.65  1495917
2021-01-08 00:00:00-05:00  105.6199  107.14   974189

In [24]:
post_covid_df = pd.DataFrame()
post_covid_df["YUM"] = post_covid_ticker["YUM"]["close"]
post_covid_df["GRUB"] = post_covid_ticker["GRUB"]["close"]
post_covid_df["MCD"] = post_covid_ticker["MCD"]["close"]
post_covid_df.index = post_covid_df.index.date
post_covid_returns = post_covid_df.pct_change().dropna()
post_covid_returns.head(10)

                 YUM      GRUB       MCD
2021-01-05 -0.000283  0.047425  0.005753
2021-01-06  0.005480 -0.019494 -0.002269
2021-01-07 -0.007142 -0.006798  0.004359
2021-01-08  0.014103  0.065091  0.018351
2021-01-11  0.005227 -0.016491 -0.007875
2021-01-12 -0.000464  0.023548 -0.012420
2021-01-13 -0.004459 -0.045290  0.002695
2021-01-14  0.005785 -0.052990 -0.016739
2021-01-15 -0.010947 -0.053291  0.006618
2021-01-19  0.007316  0.001407 -0.003859

In [25]:
post_covid_std = pd.DataFrame(post_covid_returns.std()).rename(columns = {0: "Post-Covid Std"})
post_covid_std

      Post-Covid Std
YUM         0.012188
GRUB        0.028518
MCD         0.010734

In [30]:
joined_rows = pd.concat([pre_covid_std, covid_std, post_covid_std], axis="columns",join = "inner")
joined_rows

      Pre-Covid Std  Covid Std  Post-Covid Std
YUM        0.010015   0.027860        0.012188
GRUB       0.040313   0.043521        0.028518
MCD        0.009457   0.025401        0.010734